<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.subway.persistence.LineRepository">

    <insert id="create" keyColumn="id" keyProperty="line.id" useGeneratedKeys="true">
        Insert into slines(subway_id, title) values (#{subway.id}, #{line.title})
    </insert>
</mapper>